<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test name="Tests in Chrome">
        <parameter name="Browser" value="chrome.local"></parameter>
        <classes>
            <class name="tests.LoginTests"></class>
            <class name="tests.RegisterTests"></class>
            <class name="tests.CancelTicketTests"></class>
        </classes>

    </test>
</suite>
